@font-face {
    font-family: 'NoticiaText';
    src: url('file:///android_asset/fonts/NoticiaText-Regular.ttf'); /* but this does */
}

body {
    font-family: NoticiaText;
    color: #424242; /* grey_800 */
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}