@font-face {
    font-family: 'RobotoCondensed';
    src: url('file:///android_asset/fonts/RobotoCondensed-Regular.ttf'); /* but this does */
}

body {
    font-family: RobotoCondensed;
    color: #424242; /* grey_800 */
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}