<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="com.lgvalle.beaufitulnews"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


	<application
		android:name=".BeautifulNewsApplication"
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/Theme.Beautifulnews">
		<activity
			android:name=".ui.SectionsPagerActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.DetailsPagerActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name">
		</activity>
		<meta-data android:name="com.crashlytics.ApiKey" android:value="332e839ac55741e7341d0d956ecee1074c731845"/>
	</application>

</manifest>
